################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/FirstFuzz/Builds/VisualStudio2026/.vs/FirstFuzz
/FirstFuzz/Builds/VisualStudio2026/.vs/CopilotSnapshots/E300F39AEFA45A4CB6E23B6A2CBDFAE0
/FirstFuzz/Builds/VisualStudio2026
